body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: "Roboto", sans-serif;
  /* background-color: #475569; */
  /* background-image: radial-gradient(whitesmoke, paleturquoise); */
  min-height: 100vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: navy;
  /* overflow-y: auto; */

}

.login {
    margin-top: 2rem;
}

/* .persistCheck {
  background-color: red;
  width: 40VW;
} */

.persistCheck input {
  transform: scale(1.8);
}

.greetings {
  text-align: left;
  margin: .5rem 1rem;
}


.grower>* {
  overflow-y: auto;
}

.grower {

  flex-grow: 1;


}

.lining {
  white-space: nowrap;
}


.footer,
.main {
  display: grid;
  justify-content: center;
  place-content: center;
}

/* .footer {
  font-size: 1rem;
  background-color: red
} */

.home-names {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar,
.footer {
  position: sticky;
  background-color: steelblue;
  ;
  padding: .5rem 0;
  color: whitesmoke;
  z-index: 5;

}

.footer {
  font-size: 1rem;
  bottom: 0;
}

.navbar {
  display: flex;
  /* grid-template-columns: repeat(15, 1fr); */
  column-gap: 1rem;
  align-items: end;
  /* justify-content: start; */
  padding: 0 1rem;
  top: 0;
  /* margin-bottom: 2rem; */
  overflow-x: auto;
  height: 6rem;
}

.login {
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  /* background-color: mediumaquamarine; */
  padding: 1rem 4rem;
  width: 95%;
  justify-self: center;
}



.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.login-form input {
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.sign-up-cont {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;

}


.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 100% !important; */
  text-align: center;
  /* min-height: 100vh; */
  /* justify-content: center; */
  /* background-color: green; */

}

.success {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: limegreen;
  position: fixed;
  top: 50%;

  padding: 1rem;
  opacity: .90;
  text-align: center;
  width: 60%;
  /* left: 30%; */

}

.reg-cont {
  background-color: rgb(134, 245, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 90%; */
  /* flex-grow: 1; */
  padding: 0.5rem 1rem;
  width: 80vw;
  margin: 1rem 0;
  overflow-y: auto;
}

.admin {
  margin: 1rem 0;
}

.gen-admin {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.gen-admin button{
  background-color: aliceblue;
  border-color: aliceblue;
  color: black;
}

.user-select {
  display: flex;  
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  height: 60vh;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  
}

.usersetting {
  margin: 1rem 0;
}

.usersetting-actions {
  margin-top: 1rem;
  column-gap: 6rem;
  display: flex;
  justify-content: flex-start;
}

.form-label input {
  transform: scale(1.8);
}

.users-table {
  width: 80vw;
}

.user-table-header-row th {
  border-bottom: 2px solid brown
}


.usersetting-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.usersetting-form input {
  font-size: 1.5rem;
  padding: .5rem;
  max-width: 22rem;
}

.show-hide-password {
  margin-left: 1rem;
}

.usersetting-password {
  /* background-color: red; */
  /* width: 18rem; */
}

input[type=checkbox] {
  width: 40px;
}

.asinged-roles-cont {
  display: flex;
  flex-direction: column;
}

.asinged-roles-cont select {
  
  /* background-color: red; */
  width: 15rem;
  /* height: 6.7rem; */
  border: 4px solid black;
  padding: .5rem;
  
  
}

.unauthorized section {
  /* background-color: red; */
  padding: 1rem;
}


.asigned-roles-cont label {
  /* background-color: red; */
  transform: scale(3);

}

.assigned-roles-options {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}



.errmsg {
  /* background-color: lightpink; */
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  margin-bottom: 1rem;
}


.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}


.username-form>*:nth-child(2) {
  align-self: flex-start;
}

.username-form>*:nth-child(5) {
  align-self: flex-start;
}

.username-form>*:nth-child(3) {
  align-self: flex-start;
}




.username-form {
  /* min-width: 100%; */
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  width: 70vw;
  padding: 0 1rem;
  /* align-items: flex-start; */
  font-size: 1.5rem;
  
}

.username-form input {
  font-size: 1.5rem;
  padding: .5rem;
  width: 50vw;
}

.username {
  /* background-color: red; */
  width: 87%;
}

.username-form button {
  margin-top: 1rem;
}




.field-eye {
  display: flex;
  column-gap: .5rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.items-list >* {
  text-decoration: none;
}


.items-container {
  display: grid;
  justify-content: center;
  /* justify-content: center; */
  grid-template-columns: repeat(2, 45%);
  column-gap: 1rem; 
  row-gap: 2rem;
  margin: 1rem 0;
}

.items-link {
  text-decoration: none;

}


.items-list img {
  width: 200px;
}

.lining {
  color: white;
  text-decoration: none;
}
  .header {
    margin: 1rem 0 1rem 0;
    justify-self: center;
  }

.create-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.trans-cont {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1rem 0; */
  row-gap: 1rem;
  /* background-color: red; */


}

.item-dets-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: .2rem;
  /* background-color: red; */
  flex-direction: column;
}

 .item-dets-cont img {
  width:180px;
  height: 200px;
  object-fit: cover;
 }

 .list-item-texts >* {
    text-align: left;
    font-size: 1.2rem;
  /* background-color: red; */
  width: 180px;
}

#create-item-form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  /* width: 60vw; */
}



label {
  font-weight: bold;
}

#create-item-form input{
  font-size: 1.5rem;
  padding: .5rem;
}

.unit-measures {
  /* background-color: red; */
  display: flex;
  row-gap: .5rem;
  flex-direction: column;
}

.create-item-price-cont {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}


textarea {
  width: 300px;
  height: 300px;
  font-size: 1.5rem;
}

.create-item-image-box {
  background-color: yellow;
  width: 80%;

}

.action-create button {
  font-size: 1.5rem;
  padding: .5rem;
}

.empty-cart {
  width: 90vw;
}


.trans-cont {
  /* margin: 2rem 0 0 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: yellow; */
}


.trans-item-cont {

  /* border-top: 2px solid brown; */
  /* border-bottom: 2px solid brown; */
  padding: 0 .5rem;
  display: grid;
  /* min-height: 100px; */
  width: 95vw;
  /* place-content: center; */
  row-gap: .5rem;
  min-height: 10rem;
  /* background-color: red; */
  /* min-height: 100px; */
  /* width: 100vw; */
  /* place-content: center; */
  row-gap: .5rem;
  min-height: 10rem;
  /* background-color: red; */
 place-content: center;
}



.trans-cont section {
  /* background-color: green; */
  display: flex;
  /* justify-content: center; */
}

.trans-search {
  font-size: 1.5rem;
  padding: .5rem;
}


.field {
   min-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 0;
  /* column-gap: 2rem; */
  padding: .5rem;
  /* background-color: red; */
}

.field2 {
  display: flex;
  width: 95vw;
  height: 7rem;
  text-align: center;
  align-items: center;
  /* column-gap: 1rem; */
  margin: 0 0 1rem 0;
  justify-content: center;
  column-gap: 2rem;
  /* background-color: red; */

}

.field2 button {
  height: 3rem;
}

.cash-payment {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: pink;
  position: fixed;
  top: 20%;

  padding: 1rem;
  opacity: .90;
  text-align: center;
  width: 50%;
  /* left: 30%; */
}

.cash-amount2 {
  /* background-color: red;  */
  padding: 0 5px;
  margin: .5rem 0 0 0;
  width: 8rem;
  font-size: 2.5rem;

}

.cash-confirm {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  /* background-color: green; */
}


  .non-payment {
  display: none;
}

.measure-options {
  font-size: 1.5rem;
  height: 2.5rem;
  width: 5rem;
  margin-top: .5rem;
}


button {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
  padding: 0.5rem;
  width: 10rem;
  box-shadow: 0.2em 0.3em 0.4em gray;
}

button:active {
  transition-property: box-shadow scale;
  box-shadow: 0em 0em 0em gray;
  transform: scale(0.95, 0.95);
  transition-duration: 0.1s;
}

button {
  font-size: 1.5rem;
}



.trans-item {
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* flex-wrap: wrap; */
  overflow-y: auto;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  /* justify-content: flex-start; */
  /* justify-content: start; */
  margin: 1rem;
  /* background-color: #00BFFF; */
  border-bottom: 2px solid brown;
}


.trans-name-and-img img {
  height: 100px;
  width: 100px;
}

.trans-name-and-img h4 {
 text-align: left;
 overflow: auto;
 width: 8rem;
 white-space: nowrap;
}




.tran-form {
  width: 95%;
  display: flex;
  justify-content: center;

}

.trans-add {
  /* background-color: rebeccapurple; */
  display: flex;
  column-gap: .5rem;
  justify-content: center;
  /* grid-template-columns: repeat(10, 1fr); */
  /* background-color: rebeccapurple; */
  margin-bottom: 1rem;
  /* width: 95%; */
}



.flex-article {
  /* background-color: red; */
  width: 20%;
  margin:  0 1rem 0 0;
}

  .flex-article>*:nth-child(2) {
    /* background-color: green; */
    font-size: 1rem;
    padding: 1.2rem 0.2rem !important;
    width: 4rem !important;
  }

  .update-form-unit-measure {
    font-size: 1.5rem;
    /* background-color: red; */

  }
  .in-person-qty {
  /* flex: 1 1  20%; */
  width: 5rem;
  padding: 1rem .5rem;
  height: 3rem;
  font-size: 2rem;
}

  .trans-name-and-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: .5rem;
    /* background-color: yellow; */
    grid-row: 1 / 3;
    grid-column: 1 /5;
  }

 
    .trans-item>*:nth-child(2) {
    /* background-color: yellow; */
    grid-row: 1 / 2;
    grid-column: 5/10;
  }

  .trans-item>*:nth-child(3) {
    /* background-color: pink; */
    grid-row: 2/ 3;
    grid-column: 5 /10;
  }

  .trans-item>*:nth-child(4) {
    /* background-color: white; */
    grid-row: 1/ 2;

    grid-column: 10 /10;
  }


.cash-window {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  /* justify-self: center; */
  /* color: whitesmoke; */

  row-gap: .5rem;
  top: 35%;
  min-width: 50vw;
  padding: 1rem;
  background-color: gainsboro;
  border-radius: 5px;
  opacity: .90;
  box-shadow: .2rem .3rem .6rem gray;
}

  .delete,
.display-veryfier {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  justify-self: center;
  align-items: center;

  row-gap: .5rem;
  top: 35%;
  /* left: 2.5%; */
  min-width: 50vw;
  padding: 1rem;
  background-color: gainsboro;
  border-radius: 5px;
  opacity: .90;
  box-shadow: .2rem .3rem .6rem gray;
}

.loading {
  position: fixed;
   justify-self: center;
    top: 35%;
}

.no-delete {
  display: none;
}

.receipt-main-cont {
display: flex;
  flex-direction: column;
  align-items: center;
}

.receipts {
  /* background-color: yellow; */
  text-align: left;
  max-width: 80vw;
}


.searcher, .tran-form, .gen-admin {
  display: flex;
  top: 10px;
  left: 10px;
  position: fixed;
  font-size: 1rem;
  z-index: 100;
  column-gap: 1rem;
  /* width: 100%; */
  /* width: 60vw; */
  /* background-color: red; */
  
}
.invent-header-trow th {
  /* background-color: red; */
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: left; */
}

.inventory h3, .sales-cont h3 {
  width: 60%;
  
  
}

.inventory-table, th, td .sales-table th, td {
  /* background-color: red; */
  padding: .5rem;
  text-align: left;
}

.invent-header-trow {
/* width: 150vw aa*/
}

.invent-header-trow th {
  border-bottom: 1px solid brown;
  white-space: nowrap;
}

.measure-inventory {
  font-size: 1.5rem;
  padding:  5px;
  width: 6rem;
}

.sales-table, .inventory-table {
  display: flex;
  flex-direction: column;
  width: 140vw;
}

.theader-row >* {
  border-bottom: 1px solid brown;
}

.sales-button {
  margin: 0 0 0 2rem;
  display: flex;
  float: left;
  justify-content: center;
  column-gap: 2rem;
  padding-bottom: 2rem;
}

.sales-button>* {
  /* background-color: red; */
  width: 7rem;
}

/* .sales-table {
  text-align: left;
  width: 80%;
} */

.sales-table  tr>* {
  padding:  .5rem;

}


.sales-total {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  border-bottom: 1px solid brown;
  /* column-gap: 1rem; */
  width: 100vw;
  margin: .5rem 0 .5rem 1rem;
}

.sales-total>*:nth-child(1) {
  grid-column: 1/1;
}

.sales-total>*:nth-child(2) {
  grid-column: 5/7;
}

.sales-total>*:nth-child(3) {
  grid-column: 11/22;
  overflow: auto;
  border: 2px solid brown;
  text-align: left;
  padding: .5rem;
}

.measure-select-cont {
  position: fixed;
  top: 4rem;
  display: flex;
  margin: 2rem 0 .5rem 0;
  width: 100vw;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  background-color: slategray;
  padding: .5rem 0
}

.one-receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.outer-one-receipt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.one-receipt h3{
  text-align: left;
  /* width: 30%; */
}

.receipts-date {
  /* text-align: left; */
  /* background-color: red; */
  /* width: 100%; */
}

.inner-one-receipt{
  /* background-color: red; */
  text-align: left;
  /* width: 50%; */
  
}
/* 
.searcher {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  margin: 1rem 0;
} */

.searcher input {
  font-size: 1.5rem;
  padding: .5rem .2rem;
  width: 12.5rem;

}

.edit-item {
  margin-bottom: 1rem;
}

.edit-item form input {
  padding: .2rem;
}

.edit-item img {
  width: 300px;
}

.edit-item-form {
  display: flex;
  flex-direction: column;
}

.edit-item-form input {
  font-size: 1.5rem;
}

.delete-buttons {
  display: flex;
  column-gap:2rem;
}

.edit-delete-text {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
}

.user-action {
  width: 68px;
  height: 68px;
  color: var(--COLOR);
  font-size: 2rem;
  display: grid;
  place-content: center;
  background-color: white;
  border-color: transparent;
}

.item-description {
  font-size: 1.5rem;
  padding: .2em;
}


.canvas {
  flex-direction: column;
  justify-content: center;
  align-items: center;
position: relative;
  background-color: gray;
  row-gap: 2rem;
  width: 300px;
  height: 300px;
  justify-self: center;
  margin: 0 0 4rem 0;
}

.canvas img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.plus {
  position: relative;
  padding: 1rem;
}

.plus-header {
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 1.5rem;
  color: white;
}

.plus label {
 position: absolute;
  top: 250%;
  left: 25%;
  font-size: 8rem;
  color: white;
}


.add-pic-edit {
  position: absolute;
  top: 370%;
  left: 30%;
  opacity: 0;
  height: 5rem;
  font-size: 3rem;
  width: 50%;
}


.del-icon-outer {  
  position: absolute;
  top: -5%;
  left: 92%;
  color: whitesmoke;
  /* right: 1px; */
  width: 3rem;
  height: 3rem;
  opacity: .6;
  background-color: black;
  border-radius: 1.5rem;
  font-size: 1.5rem;
}

.del-icon-inner{
  margin-top: .5rem;
  font-size: 2rem;
}

.file-present {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.pic-name {
  min-width: 80%;
  background-color: yellow;
  overflow-y: auto;
  padding: .5rem .2rem;
  /* color: white; */
}
.file-present >* {
  width: 40%;
}

.success {
    display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  justify-self: center;
  /* color: whitesmoke; */
  top: 35%;
  left: 25%;
  min-width: 50vw;
  padding: 1rem;
  background-color: gainsboro;
  border-radius: 5px;
  opacity: .90;
  box-shadow: .2rem .3rem .6rem gray;

}

.non-success {
  display: none;
}

.cash-confirm-link {
  text-decoration: none;
  color: white;
}


@media screen and (max-width: 362px){
  .items-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* SMALL */
@media screen and (min-width: 576px){
  .trans-cont section {
  justify-content: center;
}

.username-form {
  /* align-items: flex-start; */
  padding: 0 2rem;
  width: 50vw;
}

.register-button {
  justify-self: center;
  /* background-color: red; */
}

.reg-cont {
  width: 70vw;
}

.field-eye input {
  min-width: 25rem;
  /* background-color: red; */
}

.username-form input {
  min-width: 25rem;
}

.field2 {
  width: 65vw;
}

.trans-name-and-img h4 {
  /* background-color: red; */
 width: 12rem;
}

  .item-counter {
    margin-top: 1rem;
  }

  .title {
   display: flex;
    column-gap: 1rem;
  }
  .sales-total>*:nth-child(3) {
  grid-column: 10/17
}
 .items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: .5rem; */
}

.flex-article {
  width: 35%;

}
.inventory, .sales-cont {
  align-items: flex-start;
}

.inventory-table, .sales-table {
  align-items: center;  
  width: 100vw;
  /* background-color: yellow; */
}

.searcher input {
  width: 20rem

}
}
/* MEDIUM */
@media screen and (min-width: 768px){
 .items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}



.sales-total>*:nth-child(2) {
  grid-column: 6/10;
}
.sales-total>*:nth-child(3) {
  grid-column: 11/21;
}
.searcher input {
  width: 25rem

}

}

/* LARGE */
@media screen and (min-width: 992px){
 .items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* column-gap: .5rem; */
}

.outer-one-receipt {
  /* background-color: red; */
  width: 40%;
}

.sales-total>*:nth-child(2) {
  grid-column: 3/5;
}
.sales-total>*:nth-child(3) {
  grid-column: 8/21;
  /* background-color: red */
  border: none;
}

}

/* XL */
@media screen and (min-width: 1200px){


.sales-cont, .inventory{
  align-items: center;

}
 .items-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* column-gap: .5rem; */
  /* background-color: red; */
  
}
.sales-total {
  width: 800px;
}

.sales-total>*:nth-child(2) {
  grid-column: 5/7;
}
.sales-total>*:nth-child(3) {
  grid-column: 9/21;
  /* background-color: red */
  border: none8
}

}

@media screen and (min-width: 1551px){
   .items-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* column-gap: .5rem; */
  /* background-color: red; */
  
}
}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (min-height: 425px) and (min-aspect-ratio: 7/4){
 .items-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* column-gap: .5rem; */
  /* background-color: red; */

}

}


